@using Lambda.Web.Infraetrutura.Helpers.Enum
@model Lambda.Core.Entities.Empresa
@{
    ViewBag.Title = "Editar";
    Layout = "~/Views/Shared/_ContentLayout.cshtml";
}
@section headerWidget
{
    <span class="widget-icon"> <i class="fa fa-building"></i> </span>
    <h2>Editar Empresa</h2>
    &nbsp;&nbsp;<i id="divLoading" style="display: none" class="fa fa-cog fa-2x fa-spin"></i>
}

@using (Ajax.BeginForm("Editar", "Empresa", new AjaxOptions()
{
    HttpMethod = "Post",
    LoadingElementId = "divLoading",
    InsertionMode = InsertionMode.Replace,
    OnSuccess = "onSucessoEmpresa"
},
    new { @class = "smart-form" }))
{
    <fieldset>
        <div class="row">
            @Html.HiddenFor(e => e.Id)
            @Html.HiddenFor(e => e.DataExclusao)
            <section class="col col-6">
                @Html.DisplayNameFor(e => e.Nome)
                @Html.Lambda().Textbox("Nome", TextBoxType.Nome)
            </section>
            <section class="col col-6">
                @Html.DisplayNameFor(e => e.NomeFantasia)
                @Html.Lambda().Textbox("NomeFantasia")
            </section>
            <section class="col col-6">
                @Html.DisplayNameFor(e => e.DataFundacao)
                @Html.Lambda().Textbox("DataFundacao", TextBoxType.Data)
            </section>
            <section class="col col-6">
                @Html.DisplayNameFor(e => e.Telefone)
                @Html.Lambda().Textbox("Telefone", TextBoxType.Telefone)
            </section>
        </div>
    </fieldset>
    <footer>
        <button type="submit" class="btn btn-primary">Salvar</button>
    </footer>
}
